<div class="search-box">
  <form id="subscribe" action="" method="get">
    <div class="row">
      <div class="col-lg-5">
        <div class="search-heading">
          <h4>Sort The Upcoming Shows & Events By:</h4>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-lg-3">
            <select name="month">
              <option value="">Month</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
            </select>
          </div>
          <div class="col-lg-3">
            <select name="location">
              <option value="">Location</option>
              <option value="Brazil">Brazil</option>
              <option value="Europe">Europe</option>
              <option value="US">US</option>
              <option value="Asia">Asia</option>
            </select>
          </div>
          <div class="col-lg-3">
            <select name="price">
              <option value="">Price</option>
              <option value="min">$0 - $50</option>
              <option value="standard">$50 - $100</option>
              <option value="high">$100 - $200</option>
            </select>
          </div>
          <div class="col-lg-3">
            <fieldset>
              <button type="submit" id="form-submit" class="main-dark-button">Submit</button>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

