<article id="tabs-2">
  <div class="row">
    <div class="col-lg-9">
      <div class="right-content">
        <h4>Radio City Musical Hall</h4>
        <p>Aliquam tempor, purus vitae ullamcorper rhoncus, quam nunc imperdiet sem, sed placerat purus dui in lorem. Donec ornare at risus in varius. In at magna ante. Curabitur at metus sed purus pretium ullamcorper.</p>
        <ul class="list">
          <li>Radio City Musical Hall</li>
          <li>$4,750 per day</li>
          <li>1,100 Guests</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div id="map">
        <iframe src="https://www.google.com/maps/embed?..." width="100%" height="240px" frameborder="0" style="border:0" allowfullscreen loading="lazy"></iframe>
        <h5>Any Question?</h5>
        <p>Tumeric air affogato sare torial waistcoat denim stumber.</p>
        <div class="text-button">
          <a href="ticket-details.html">Need Direction? <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</article>
