<article id="tabs-3">
  <div class="row">
    <div class="col-lg-9">
      <div class="right-content">
        <h4>Royce Hall</h4>
        <p>Maecenas ut pharetra felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ut nisi quis tellus vulputate posuere. Aenean consectetur quam et quam fringilla, nec aliquam diam congue.</p>
        <ul class="list">
          <li>Royce Hall</li>
          <li>$5,860 per day</li>
          <li>1,250 Guests</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div id="map">
        <iframe src="https://www.google.com/maps/embed?..." width="100%" height="240px" frameborder="0" style="border:0" allowfullscreen loading="lazy"></iframe>
        <h5>Any Question?</h5>
        <p>Tumeric air affogato sare torial waistcoat denim stumber.</p>
        <div class="text-button">
          <a href="ticket-details.html">Need Direction? <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</article>
