{% extends 'evenement/base-back.html.twig' %}

{% block title %}Créer un nouvel Événement{% endblock %}

{% block body %}
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Événements /</span> Nouveau
  </h4>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <h5 class="card-header">Formulaire de création</h5>
        <div class="card-body">
          {{ include('evenement/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        </div>
      </div>

      <a href="{{ path('app_evenement_index') }}" class="btn btn-outline-secondary">
        <i class="bx bx-arrow-back me-1"></i> Retour à la liste
      </a>
    </div>
  </div>
</div>
{% endblock %}