<article id="tabs-1">
  <div class="row">
    <div class="col-lg-9">
      <div class="right-content">
        <h4>Madison Square Garden</h4>
        <p>ArtXibition Event Template is brought to you by Tooplate website and it included total 7 HTML pages.
          These are <a href="index.html">Homepage</a>, <a href="about.html">About</a>,
          <a href="rent-venue.html">Rent a venue</a>, <a href="shows-events.html">shows &amp; events</a>,
          <a href="event-details.html">event details</a>, <a href="tickets.html">tickets</a>, and <a href="ticket-details.html">ticket details</a>.
          You can feel free to modify any page as you like. If you have any question, please visit our <a href="https://www.tooplate.com/contact" target="_blank">Contact page</a>.
          <br><br>
          If you need the latest HTML templates, you may visit <a href="https://www.toocss.com/" target="_blank">Too CSS</a>.
        </p>
        <ul class="list">
          <li>Madison Square Garden</li>
          <li>$2,840 per day</li>
          <li>860 Guests</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div id="map">
        <iframe src="https://www.google.com/maps/embed?..." width="100%" height="240px" frameborder="0" style="border:0" allowfullscreen loading="lazy"></iframe>
        <h5>Any Question?</h5>
        <p>Tumeric air affogato sare torial waistcoat denim stumber.</p>
        <div class="text-button">
          <a href="ticket-details.html">Need Direction? <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</article>